name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  test:
    uses: stylelint/.github/.github/workflows/call-test.yml@2844df54744d5b95507c6df844b1422478dd3cc1 # 0.5.0
    with:
      node-version: '["lts/*"]'
    permissions:
      contents: read
